/* .card-text-scrollable {
    max-height: 200px;
    overflow-y: scroll;
    text-align: justify;
    padding-right: 10px; 
    
} */


.card-text-scrollable, .outer-border {
    /* width: 240px; */
    height: 150px;
    text-align:justify;
    /* background-color:green; */
    /* color:white; */
    /* padding-left:10px; */
    padding-right:10px;
}
.outer-border {
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
}
.inner-border {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.inner-border::-webkit-scrollbar {
    display: none;
}

.card_link {
    color: inherit;
    text-decoration: none;
}

.card_link:hover {
    color:inherit; 
    text-decoration:none; 
    cursor:pointer;  
}