{% from "_top_app_bar.html" import show_top_bar %}
{% from "_sidebar.html" import show_sidebar %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BuildIt</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/css/vendor.bundle.base.css')}}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/demo/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/demo/new_project.css')}}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png')}}" />
</head>
<body>
<script src="{{ url_for('static',filename='js/preloader.js')}}"></script>
  <div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
      {{ show_sidebar() }}
    <!-- partial -->

    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:../../partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        {{ show_top_bar() }}
      </header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title">New Project</h6>
                  <div class="template-demo">
                    <div class="mdc-layout-grid__inner">
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" id="NewProject_Name">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Name" class="mdc-floating-label">Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>
                      

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">location_city</i>
                          <select disabled required class="mdc-text-field__input" id="NewProject_State" name ="stt" onchange="print_city('NewProject_City', this.selectedIndex);"></select>
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_State" class="mdc-floating-label mdc-floating-label--float-above">State</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">location_city</i>
                          <select disabled required class="mdc-text-field__input" id="NewProject_City"></select>
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_City" class="mdc-floating-label mdc-floating-label--float-above">City</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">location_area</i>
                          <select class="mdc-text-field__input" id="NewProject_Area" required></select>
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Area" class="mdc-floating-label mdc-floating-label--float-above">Location</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      

                      <!--  Project start date -->
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">event_available</i>
                          <input class="mdc-text-field__input unstyled" id="NewProject_StartDate" type="date" >
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Cost" class="mdc-floating-label">Project Expected Start Date</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">event_busy</i>
                          <input class="mdc-text-field__input unstyled" id="NewProject_EndDate" type="date">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Cost" class="mdc-floating-label">Project Expected End Date</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                          <i class="material-icons mdc-text-field__icon">currency_rupee</i>
                          <input class="mdc-text-field__input" id="NewProject_Cost">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Cost" class="mdc-floating-label">Cost</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <input type="file" class="mdc-text-field__input" id="NewProject_Cost" multiple>
                          <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Cost" class="mdc-floating-label mdc-floating-label--float-above">Upload Files</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea">
                          <textarea class="mdc-text-field__input" rows="5" cols="30" id="NewProject_Details"></textarea>
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="NewProject_Details" class="mdc-floating-label">Details</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>


                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop outer_div__vertical_align_center">
                        <div >
                        <!-- <div> -->
                          <span>With Material</span>
                        <!-- </div> -->
                        <div class="mdc-switch mdc-switch--checked" data-mdc-auto-init="MDCSwitch">
                          <div class="mdc-switch__track"></div>
                          <div class="mdc-switch__thumb-underlay">
                            <div class="mdc-switch__thumb">
                                <input type="checkbox" id="NewProject_Material" class="mdc-switch__native-control" role="switch" checked>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop outer_div__horizontal_align_center">
                      
                        <button class="mdc-button mdc-button--raised mdc-button--dense" id="create_project" onclick="createProject()">
                          Create Project
                        </button>
                        
                      </div>
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell mdc-layout-grid__cell--span-3-tablet">
                        <div class="mdc-card p-0">
                          <img class="card-img-top" src="../../../assets/images/samples/300x300/1.jpg" alt="Card image cap">
                          <div class="mdc-card-body p-3">
                            <h4 class="mdc-card-title">Card title that wraps to a new line</h4>
                            <p class="mdc-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis quam, sequi dolorum excepturi repudiandae atque dignissimos voluptatum aperiam!</p>
                          </div>
                        </div>
                      </div>
                      <div class="mdc-layout-grid__cell--span-4 stretch-card">
                        <div class="mdc-card">
                          <h4 class="card-title">Dropzone</h4>
                          <form action="/file-upload" class="dropzone d-flex align-items-center dz-clickable" id="my-awesome-dropzone"><div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div></form>
                        </div>
                      </div>

                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-desktop stretch-card">
                <div class="mdc-card">
                  <h6 class="card-title">Title</h6>
                  <div class="template-demo">
                    <div class="media-body">
                      <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                    </div>
                    <!-- <div class="mdc-switch mdc-switch--checked" data-mdc-auto-init="MDCSwitch">
                      <div class="mdc-switch__track"></div>
                      <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb">
                            <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch" checked>
                        </div>
                      </div>
                    </div>
                     -->
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-desktop stretch-card">
                <div class="mdc-card">
                  <h6 class="card-title">Title</h6>
                  <div class="template-demo">
                    <div class="media-body">
                      <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
         
        </main>
        <!-- partial:../../partials/_footer.html -->
        <footer>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop d-flex justify-content-end">
                <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">Copyright © <a href="" target="_blank">ChintAvi Construction & Fabrication </a>2016</span>
              </div>
              <!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center tx-14">Free <a href="https://www.bootstrapdash.com/material-design-dashboard/" target="_blank"> material admin </a> dashboards from Bootstrapdash.com</span>
              </div> -->
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static',filename='js/material.js')}}"></script>
  <script src="{{ url_for('static',filename='js/misc.js')}}"></script>
  
  <script src="{{ url_for('static',filename='js/state_city.js')}}"></script>
  <script src="{{ url_for('static',filename='js/newproject.js')}}"></script>
  <script language="javascript">print_state("NewProject_State");</script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>
</html>